{%extends 'base.html'%}

{%load static%}

{%block content%}

<section>
    <div class="authform">

        {%if messages%}

            {%for msg in messages%}

                <li class="{{msg.tags}}">{{msg}}</li>

            {%endfor%}

        {%endif%}
        
        <form method="POST" class="form-login">
                {%csrf_token%}
                {{form.as_table}}

                <input type="submit" value="Iniciar Sesion" class="Sign">

                <div class="pass-forget">
                    <a class="password">¿Te olvidaste la contraseña?</a>
                </div>
        

        </form> 

    </div>
</section>

{%endblock%}