{%extends 'base.html'%}

{%load static%}

{%block title%} Detalles del producto {%endblock%}

{%block head_content%} 

<link rel="stylesheet" type="text/css" href="{%static 'css/detalles.css'%}">

{%endblock%}

{%block content%}

<div class="container-producto">
 
    <div class="detalles">

        <div id="carouselExample{{producto.id}}" class="carousel slide">

            <div class="carousel-inner">
                {%for imagen in producto.image.all%}
                    <div class="carousel-item {% if forloop.first %}active{%endif%}">
                        <img src="{{imagen.image.url}}" class="d-block" alt="imagen del {{producto.titulo}}">
                    </div>
                {%endfor%}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample{{producto.id}}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample{{producto.id}}" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>
        
        <div class="titulo">
            {{producto.titulo}}
        </div>

        <div class="precio">
            Precio: {{producto.precio}} ARS
        </div>


        <div class="carro">
            <button class="btn-carro"><a>Añadir al carro</a></button>
        </div>

        <div class="button">
            <button class="btn-com">
                <a href="{%url 'Pagos' producto.id%}">Pagar con mercadopago</a>
            </button>
        </div>

        <div class="contenido">
            <h4>Descripcion del producto</h4>
            <div>{{producto.contenido}}</div>
        </div>
    </div> 
</div>
{%endblock%}